body  {background-color:black; 

color:white;
} 
h1 {color:white; 
display:inline-block; 
} 

#wrapper { 
background-color:red; 
width:98%; 
margin:auto; 
} 

 
nav ul { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
      overflow: hidden; 
      background-color: #333; 
} 

 

nav ul li { 

  float: left; 

} 

 

nav ul li a { 

  display: block; 

  color: white; 

  text-align: center; 

  padding: 16px 18px; 

  text-decoration: none; 

} 

 

/* Change the link color to #111 (black) on hover */ 

nav ul li a:hover { 

  background-color: #111; 

} 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
    
}
.box1 { grid-area: box1; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:blue;
  padding: 8px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


footer { 
height:120px; 
background-color:#c6df3e; 
}  

footer a {  
        float:center;
	text-align:center;
	padding:45px 100px;
	text-decoration:none 

} 

 

/* Change the link color to #111 (black) on hover */ 

nav ul li a:hover { 

  background-color: #111; 


}


.about {display:block;}